extends base.pug

block scripts
   script(src="/static/index.js")

block style
   style
       include ../static/style.css

block content
    section#introSection
            div Welcome to Harry's Dance Academy
            div.small Eat Sleep Dance Repeat

    section#missionsection
        h2 Our Mission
        div.card
            h3  Dance Perfection
        div.card
            h3 Dance you like
        div.card
            h3 Expert Teaching
    section#sponsorsSection
        h2 Our Sponsors